body {
    background-color:#E8ECE8;
}
header {

}
.responsive {
    width: 100%;
    max-width: 300px;
    height: auto;
}
#responsive1 {
    width: 100%;
    max-width: 450px;
    height: auto;
}
#navig {
    background-color: #1F3723;
    border-radius: 5px;
}
#navig ul {
    list-style-type: none;
    text-align: left;
    margin: 1px;
    margin-top: 5px;
    padding: 1%;
    padding-top: 0.9%;
}
#navig ul li {
    display: inline;
}
#navig ul li a {
    text-decoration: none;
    margin-left: 1.5%;
    margin-right: 1.5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
}
.active {
    background-color: #90A090;
    padding: 1%;
}
#a1f {
    width: 60%;
    margin: 10px;
    font-size: 1.15vw;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}
.p {
    background-color: #90A090;
    padding: 30px;
    margin: 10px;
    border-radius: 8px;
}
#name {
    background-color: #476246;
    margin: 10px;
    margin-bottom: 0px;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    color: white;
}
#pic_n_info {
    width: 35%;
    background-color: #90A090;
    float: left;
    margin: 20px;
    margin-top: 5px;
    font-size: 1.15vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 8px;
}
#m {
    text-align: left;
}
.line-1 {
    height: 2px;
    background: #1F3723;
}
#pic {
    background-color: #90A090;
    float: left;
    margin: 20px;
    margin-bottom: 5px;
    padding: 38px;
    border-radius: 8px;
}
footer {
    clear: both;
    padding: 1%;
    margin: 1px;
    border-radius: 5px;
    background-color: #1F3723;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
}
#controls {
    text-align: right;
}
#controls a {
    font-size: x-large;
    text-decoration: none;
}
.custom a {
    margin-left: 15px;
}
#make_grey {
    background-color: grey;
    text-align: right;
}
#make_grey a{
    font-size: x-large;
    text-decoration: none;
}
#make_blue {
    background-color: lightslategray;
    text-align: right;
}
#make_blue a{
    font-size: x-large;
    text-decoration: none;
}
#incre {
    font-size: x-large;
    background-color: #1F3723;
    border-radius: 5px;
}
#incre ul {
    list-style-type: none;
    text-align: left;
    margin: 1px;
    margin-top: 5px;
    padding: 1%;
    padding-top: 0.9%;
}
#incre ul li {
    display: inline;
}
#incre ul li a {
    text-decoration: none;
    margin-left: 1.5%;
    margin-right: 1.5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#decre {
    font-size: small;
    background-color: #1F3723;
    border-radius: 5px;
}
#decre ul {
    list-style-type: none;
    text-align: left;
    margin: 1px;
    margin-top: 5px;
    padding: 1%;
    padding-top: 0.9%;
}
#decre ul li {
    display: inline;
}
#decre ul li a {
    text-decoration: none;
    margin-left: 1.5%;
    margin-right: 1.5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
